@import 'variables';

#landscape-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: calc(#{$z-index-above-all} + 10);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
      width: 150px;
      height: 150px;
      border-radius: 100px;
      border: 2px solid gray;
  }
}
