@import 'variables';

.slider-container {
  width: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: repeat($mobile-slider-items, 100%);
}

.slider-transition {
  transition: transform 0.3s ease-in-out;
}

.slider-item {
  min-width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: $toggle-button-height $toggle-button-height 0 $toggle-button-height;
}
