<div class="wallet">
  <ng-container *ngFor="let currency of currencies; let isFirst = first; let isLast = last">
    <div class="currency">
      <input class="wallet-input"
             type="number"
             min="0"
             max="1000"
             [id]="'currency-' + currency.id"
             [name]="'currency-' + currency.id"
             (input)="checkRange($event, minCurrency, maxCurrency)"
             value="currency.value" />

      <span class="currency-name ui prevent-select">
        {{ 'currencies.' + currency.id | translate }}
      </span>
      <div *ngIf="isDesktop() || showConvertOptions" class="convert-options">
        <div [class.option-hide]="isFirst"
             [class.clickable]="!isFirst"
             class="ui clickable convert-option"
             (click)="convert(currency.id, !isFirst, true)">
          <app-icon [name]="'convert-arrow'" class="convert-upgrade"></app-icon>
        </div>

        <div *ngIf="isDesktop()" class="ui" style="height: 2px;"></div>
        <div *ngIf="!isDesktop()" class="ui" style="height: 10px;"></div>


        <div [class.option-hide]="isLast"
             [class.clickable]="!isLast"
             class="ui clickable convert-option"
             (click)="convert(currency.id, !isLast)">
          <app-icon [name]="'convert-arrow'" class="convert-downgrade"></app-icon>
        </div>
      </div>
    </div>

  </ng-container>
</div>

<div class="convert" *ngIf="!isDesktop()">
  <ng-container *ngIf="!showConvertOptions; else cancelConvert">
    <button (click)="toggleConvertOptions()" class="btn btn-info">
      Convert
    </button>
  </ng-container>
  <ng-template #cancelConvert>
    <button  (click)="toggleConvertOptions()" class="btn btn-danger">
      Cancel
    </button>
  </ng-template>
</div>
