<body>
  <app-loading-screen [isLoading]="isLoading"></app-loading-screen>
  <app-landscape-warning></app-landscape-warning>
  <ng-container *ngIf="isDesktop(); else mobileView">
    <div class="pc-grid-layout">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-template #mobileView>
    <div class="mobile-grid-layout">
      <app-navbar></app-navbar>
      <app-mobile-header></app-mobile-header>
      <main id="main-mobile" class="mobile">
        <router-outlet></router-outlet>
      </main>
    </div>
    <app-fixed-toggle-buttons></app-fixed-toggle-buttons>
  </ng-template>

  <app-modal [isVisible]="isModalVisible" (closeModal)="closeModal()" [data]="data"></app-modal>
</body> 
