<body>
  <app-save-button></app-save-button>
  <app-navbar></app-navbar>
  <app-mobile-header></app-mobile-header>

  <div id="content" class="pc">
    <app-pc-slider></app-pc-slider>
    <main id="main-pc" class="pc slider">
      <ng-container *ngFor="let component of pcComponents; index as index;">
        <div class="slide" *ngIf="index === getCurrentViewPc()">
          <ng-container *ngComponentOutlet="component.class"></ng-container>
        </div>
      </ng-container>
    </main>
  </div>
  <main id="main-mobile" class="mobile">
    <app-mobile-slider></app-mobile-slider>
  </main>
</body>
