<ng-container *ngIf="isDesktop(); else mobileView">
  <app-pc-slide-layout [leftInputDisabled]="true"
                       [leftInputLabel]="'spellcasting.class' | translate"
                       gridTemplateColumns="repeat(3, 1fr)">

    <div right-side-content class="section-center-content">
      <app-form-field [label]="'spellcasting.ability' | translate"
                      name="spellcasting_ability"
                      value=""
                      [desktop]="true"
                      [readOnly]="true">
      </app-form-field>
    </div>

    <div right-side-content class="section-center-content">
      <app-form-field [label]="'spellcasting.save_dc' | translate"
                      name="spellcasting_save_dc"
                      value=""
                      [desktop]="true"
                      [readOnly]="true">
      </app-form-field>
    </div>

    <div right-side-content class="section-center-content">
      <app-form-field [label]="'spellcasting.attack_bonus' | translate"
                      name="attack_bonus"
                      value=""
                      [desktop]="true"
                      [readOnly]="true">
      </app-form-field>
    </div>

    <div main-content>
      <p>pc spells works! (Content)</p>
    </div>
  </app-pc-slide-layout>
</ng-container>

<ng-template #mobileView>
  <section class="mobile slide-mobile">
    <main>
      <p>mobile spells works!</p>
    </main>
  </section>
</ng-template>

