@import 'variables';

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: calc($z-index-above-all + 10);
  transition: opacity $modal-fading-duration ease-in-out, z-index $modal-fading-duration ease-in-out;
}
