$pc-abilities-header-font-size: 10px;
$pc-abilities-header-padding: 5px;

$pc-modifier-vertical-padding: calc($pc-abilities-header-font-size + 5px);
$pc-modifier-font-size: 20px;

$mobile-modifier-font-size: 20px;
$mobile-abilities-gap: 1.8rem;
$mobile-abilities-min-width: 100px;
