$pc-abilities-header-font-size: 13px;
$pc-abilities-header-padding: 5px;
$pc-abilities-gap: 1.75rem;

$pc-modifier-vertical-padding: 10px;
$pc-modifier-font-size: 20px;

$mobile-modifier-font-size: 20px;
$mobile-abilities-gap: 1.5rem;
$mobile-abilities-min-width: 90px;
