@import '../colors';

$scrollbar-width: 10px;
$scrollbar-color: $red;
$scrollbar-border-size: 10px;
$scrollbar-border-color: $golden;
$scrollbar-track-color: transparent;
$scrollbar-border-radius: 3px;
