<div class="mobile fixed-toggle-buttons">
  <div class="left left-top">
    <app-toggle-button>
      <div class="content">
        a
      </div>
    </app-toggle-button>
  </div>
  <div class="left left-bottom">
    <app-toggle-button>
      <div class="content">
        a
      </div>
    </app-toggle-button>
  </div>
  <div class="right right-top">
    <app-toggle-button>
      <div class="content">
        a
      </div>
    </app-toggle-button>
  </div>
  <div class="right right-bottom">
    <app-toggle-button>
      <div class="content">
        a
      </div>
    </app-toggle-button>
  </div>
</div>

