<ng-container *ngIf="isDesktop(); else mobileView">

  <app-pc-slide-layout [leftInputDisabled]="false"
                       [leftInputLabel]="'character.name' | translate"
                       gridTemplateColumns="repeat(4, 1fr)">

    <div right-side-content class="section-class">
      <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <input type="text" name="name" value="" placeholder="Select Class" />
        <button class="btn btn-secondary">Add multiclass +</button>
      </div>
      <label>{{ 'character.classes' | translate }}</label>
    </div>

    <div right-side-content class="section-race">
      <div style="display: flex; flex-direction: column; justify-content: space-between; ">
        <button class="btn btn-secondary">Select Race</button>
      </div>
      <label>{{ 'character.race' | translate }}</label>
    </div>

    <div right-side-content class="section">
      <app-form-field [label]="'character.background' | translate"
                      name="background"
                      value=""
                      [desktop]="true"></app-form-field>

      <app-form-field [label]="'character.alignment' | translate"
                      name="alignment"
                      value=""
                      [desktop]="true">
      </app-form-field>
    </div>

    <div right-side-content class="section">
      <app-form-field [label]="'character.player_name' | translate"
                      name="player_name"
                      value=""
                      [desktop]="true">
        </app-form-field>

      <app-form-field [label]="'character.exp' | translate"
                      name="exp"
                      value=""
                      [desktop]="true">
        </app-form-field>
    </div>

    <div main-content>
      <p>home spells works! (Content)</p>
    </div>

  </app-pc-slide-layout>
</ng-container>

<ng-template #mobileView>
  <section class="mobile slide-mobile">
    <main>
      <p>mobile-HOME works!</p>
    </main>
  </section>
</ng-template>




