@import 'variables';

.circle {
  display: flex;
  border-radius: 50px;
  border: 2px solid $border-color;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &-empty {
    background-color: #656060;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  &-disabled {
    background-color: lightgray;
    pointer-events: none;
  }
}

.lang-circle {
  border: 1px solid black;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.selected-lang {
  border: 1px solid $red;
  background-color: $red;
  color: white;
}

.mobile-classes-margin {
  margin-right: 4px;
}
