$primary-color: whitesmoke;
$red: #9e0b0f;
$golden: #ffc528;
$ui-background-color: white;
$border-color: black;
$scrollbar-color: $red;
$scrollbar-border-color: $golden;
$scrollbar-track-color: transparent;
