$pc-fixed-layout-grid: max-content max-content auto 20%;
$pc-navbar-logo: 4vh;
$pc-padding-top-bottom: 10px;
$pc-margin-sides: 20px;
$pc-navbar-height: calc(4vh + 30px);
$pc-slider-height: 70px;

$pc-character-image-diameter: 150px;
$pc-character-image-center: -25px;

$pc-slider-layout-header-height: 150px;
