<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border box-shadow">
    <div class="nav-container-pc">

      <div id="nav-start">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/images/icon192x192.png" alt="{{ 'title' | translate }}" title="{{ 'title' | translate }}" />
        </a>
        <button (click)="switchLanguage('es')">Switch to Spanish</button>
        <button (click)="switchLanguage('en')">Switch to English</button>
      </div>

      <div class="nav-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark prevent-select" href="/api" target="_blank">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark prevent-select" href="/Identity/Account/Manage">{{ "nav-menu.account" | translate }}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="nav-container-mobile">
      <ul>
        <ng-container *ngFor="let component of components; index as index;">
          <li [id]="component.id"
              class="border prevent-select"
              [class.selected]="index == getCurrentView()"
              (click)="mobileSlide(index)">
            <a class="nav-link text-dark">{{ component.name | translate }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>


<div id="save-button" class="not-clickable">
  <a class="btn btn-primary" [routerLink]="['/']">{{ "nav-menu.start_journey" | translate }}</a>
</div>
