<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border box-shadow">
    <div class="nav-container-pc">

      <div id="nav-start">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/images/icon192x192.png" alt="{{ 'title' | translate }}" title="{{ 'title' | translate }}" />
        </a>
        <button (click)="switchLanguage('es')">Switch to Spanish</button>
        <button (click)="switchLanguage('en')">Switch to English</button>
      </div>

      <div id="nav-center">
        <a class="btn btn-primary" [routerLink]="['/']">{{ "nav-menu.start_journey" | translate }}</a>
      </div>

      <div class="nav-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/api" target="_blank">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/Identity/Account/Manage">{{ "nav-menu.account" | translate }}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="nav-container-mobile">
      <ul>
        <li id="mobile-lore" class="border" (click)="mobileSlide(0)">
          <a class="nav-link text-dark">{{ "nav-menu.lore" | translate }}</a>
        </li>
        <li id="mobile-items" class="border" (click)="mobileSlide(1)">
          <a class="nav-link text-dark">{{ "nav-menu.items" | translate }}</a>
        </li>
        <li id="mobile-home" class="border" (click)="mobileSlide(2)">
          <a class="nav-link text-dark">{{ "nav-menu.home" | translate }}</a>
        </li>
        <li id="mobile-spells" class="border" (click)="mobileSlide(3)">
          <a class="nav-link text-dark">{{ "nav-menu.spells" | translate }}</a>
        </li>
        <li id="mobile-account" class="border" (click)="mobileSlide(4)">
          <a class="nav-link text-dark">{{ "nav-menu.account" | translate }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
