<nav id="mobile-header" class="mobile navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border box-shadow">
  <div class="first header-container">
    <div class="level-up-button">
      <button class="btn btn-primary"> Level Up </button>
    </div>
    <div class="character-img circle circle-l">
      <app-circle [empty]=false [diameter]="50">
        <img src="#" />
      </app-circle>
    </div>
    <div class="save-button">
      <button class="btn btn-success"> Save </button>
    </div>
  </div>

  <div class="second header-container">
    <div class="character-name-input">
      <app-form-field label="Character Name" name="character_name" value="" [class]="'col-md-1 mt-16'"></app-form-field>
    </div>

    <app-form-field label="Level" name="level" value="1" class="level-input" [class]="'mr-10 fs-24'" [disabled]="true"></app-form-field>

    <div>
      <app-form-field label="Race" name="race" type="custom">
        <div class="content">
          <app-circle></app-circle>
        </div>
      </app-form-field>

      <app-form-field label="Class/Classes" name="classes" type="custom">
        <div class="content" style="max-width: 88px; overflow-x: auto; ">
          <app-circle></app-circle>
          <!--<app-circle></app-circle>-->
          <app-circle [empty]=false>+</app-circle>
        </div>
      </app-form-field>
    </div>


    <!--<div class="character-name-input field">
      <div class="character-name-input input-group">
        <label for="character_name">Character Name</label>
        <input type="text" name="character_name" value="" />
      </div>
    </div>


    <div class="field">
      <div class="level-input input-group">
        <label for="level">Level</label>
        <input type="number" name="level" value="1" disabled />
      </div>
    </div>-->

    <!--<div>
      <div class="race-input input-group field">
        <label>Race</label>
        <div class="content">
          <app-circle></app-circle>
        </div>
      </div>
      <div class="class-input input-group">
        <label>Class/Classes</label>
        <div class="content" style="max-width: 85px; overflow-x: auto; ">
          <app-circle></app-circle>-->
          <!--<app-circle></app-circle>-->
          <!--<app-circle [empty]=false>+</app-circle>
        </div>
      </div>
    </div>-->

  </div>
</nav>
