<nav id="mobile-header" class="mobile navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border box-shadow">
  <div class="first header-container">
    <div class="level-up-button">
      <button class="btn btn-primary"> Level Up </button>
    </div>
    <div class="character-img circle circle-l">
      <app-circle [empty]=false [diameter]="50">
        <img src="#" />
      </app-circle>
    </div>
    <div class="save-button">
      <button class="btn btn-success"> Save </button>
    </div>
  </div>

  <div class="second header-container">
    <div class="character-name-input">
      <app-form-field label="Character Name" name="character-name" value="" [class]="'col-md-1 mt-16'" (clickEvent)="openModal($event)"></app-form-field>
    </div>

    <app-form-field label="Level" name="level" value="1" class="level-input" [class]="'mr-10 fs-24'" [disabled]="true" (clickEvent)="openModal($event)"></app-form-field>

    <div>
      <app-form-field label="Race" name="race" type="custom" (clickEvent)="openModal($event)">
        <div class="content">
          <app-circle id="race"></app-circle>
        </div>
      </app-form-field>

      <app-form-field label="Class/Classes" name="classes" type="custom" (clickEvent)="openModal($event)">
        <div class="class-input content" [style.max-width]="classInputMaxWidth">
          <app-circle id="first"></app-circle>
          <app-circle id="second"></app-circle>
          <app-circle id="add-class" [empty]=false>+</app-circle>
        </div>
      </app-form-field>
    </div>

  </div>
</nav>

<app-modal [isVisible]="isModalVisible" (closeModal)="closeModal()" [data]="data"></app-modal>
