@import 'variables';

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: $primary-color;
}

html {
  font-size: 14px;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
}
