/* SCSS for Angular components */

app-modal {
  position: absolute;
}

app-fixed-toggle-buttons {
  position: fixed;
  top: $mobile-header-height;
  width: 100%;
}

app-mobile-slider {
  height: 100%;
  min-height: 100%;
}

app-mobile-header {
  grid-row: 1;
}

app-navbar {
  grid-row: 3;
}


app-icon {
  align-items: center;
  justify-content: center;
  display: flex;
}

app-pc-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

app-features-feats, app-items, app-notes {
    height: 100%;
}

@media (min-width: $mobile-size) {

  app-navbar {
    grid-row: 1;
  }
}
