.mr {
  &-10 {
    margin-right: 10px;
  }

  &-0 {
    margin-right: 0px;
  }
}

.ml {
  &-10 {
    margin-left: 10px;
  }
}

.mt {
  &-16 {
    margin-top: 16px;
  }

  &-8 {
    margin-top: 8px;
  }
}

.col-md-1 {
  padding-left: 10px;
}
