@import 'variables';

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.not-clickable {
  pointer-events: none;
}

.clickable {
  cursor: pointer !important;
}

.pc {
  display: none;
}

.pc-grid {
  display: none;
}

.mobile {
  display: flex;
}

.ui {
    background-color: $ui-background-color;
}

.hide {
  opacity: 0 !important;
  z-index: $z-index-behind-all !important;
}

.toggle-button-transition {
  transition: top $toggle-button-transition ease, right $toggle-button-transition ease, left $toggle-button-transition ease, bottom $toggle-button-transition ease;
}


input.no-spin[type=number]::-webkit-inner-spin-button,
input.no-spin[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input.no-spin[type=number] {
  -moz-appearance: textfield;
}


@media (min-width: $mobile-size) {
  .pc {
    display: flex;
  }

  .pc-grid {
    display: grid;
  }

  .mobile {
    display: none;
  }
}
