@import 'variables';

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.not-clickable {
    pointer-events: none;
}

.pc {
  display: none;
}

.mobile {
  display: flex;
}

@media (min-width: $mobile-size) {
  .pc {
    display: flex;
  }

  .mobile {
    display: none;
  }
}
