@import 'variables';

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.not-clickable {
    pointer-events: none;
}

.pc {
  display: none;
}

.mobile {
  display: flex;
}

.ui {
    background-color: $ui-background-color;
}

.toggle-button-transition {
  transition: top $toggle-button-transition ease, right $toggle-button-transition ease, left $toggle-button-transition ease, bottom $toggle-button-transition ease;
}

@media (min-width: $mobile-size) {
  .pc {
    display: flex;
  }

  .mobile {
    display: none;
  }
}
