$primary-color: whitesmoke;
$red: #9e0b0f;
$golden: #ffc528;
$font-family: 'Open Sans', sans-serif;

$mobile-size: 768px;
$mobile-margin-sides: 20px;
$mobile-header-height: 135px;

$pc-navbar-logo: 4vh;
$pc-margin-sides: 20px;
$pc-navbar-height: calc(4vh + 30px);
$pc-slider-height: 70px;



$scrollbar-width: 10px;
$scrollbar-color: $red;
$scrollbar-border-size: 10px;
$scrollbar-border-color: $golden;
$scrollbar-track-color: transparent;
$scrollbar-border-radius: 3px;


