$primary-color: whitesmoke;
$red: #9e0b0f;
$golden: #ffc528;

$mobile-size: 768px;
$mobile-margin-sides: 20px;

$pc-margin-sides: 20px;
$pc-navbar-height: 70px;
$pc-slider-height: 70px;

/*$scrollbar-color: $golden;
$scrollbar-background: $red;
$scrollbar-width: 5px;
*/

$scrollbar-width: 10px;
$scrollbar-color: $red;
$scrollbar-border-size: 10px;
$scrollbar-border-color: $golden;
$scrollbar-track-color: transparent;
$scrollbar-border-radius: 3px;


