@import 'variables/colors';
@import 'variables/mobile';
@import 'variables/pc';
@import 'variables/components/abilities';
@import 'variables/components/lang';
@import 'variables/components/scrollbar';
@import 'variables/components/toggle-button';
@import 'variables/components/wallet';

$font-family: 'Open Sans', sans-serif;
$z-index-behind-all: -99;
$z-index-above-all: 1000;

$sidebar-max-width: 62px;
$modal-fading-duration: 0.2s;
