@import 'variables';

.slider {
  margin: 0 !important;
  display: flex;
  transition: opacity 0.3s;
  overflow-x: hidden;

  &-transition {
    transition: transform 0.5s;
  }
}

.slide {
  min-width: 100%;

  &-mobile {
    & main {
      margin: 0 $pc-margin-sides 0 $pc-margin-sides;
    }
  }

  &-pc {
    margin: 0 $mobile-margin-sides 0px $mobile-margin-sides;
    background-color: white;
    overflow-y: auto;
    height: 100%;
  }
}

@media (min-width: $mobile-size) {
  .slider {
    overflow-y: auto;
    max-height: 40%;
  }
}
