@import 'variables';

@import 'slider';
@import 'scrollbar';

@import 'base';
@import 'utilities';
@import 'pixelperfect';
@import 'components';

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#content {
  padding: 10px;
  transition: 600ms;
  display: grid;
  grid-template-columns: $pc-fixed-layout-grid;
  width: 100%;
}

.hideable-content {
  transition: opacity 300ms ease;
}

.fixed-layout {
  &-text {
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &-section {
      height: 100%;
  }
  &-content {
    display: grid;
    grid-template-columns: max-content auto;
    height: 100%;
  }
}


#mobile-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: $mobile-header-height;
}

.mobile-grid-layout {
    display: grid;
    grid-template-rows: $mobile-header-height auto 5%;
    height: 100%;
}

.pc-grid-layout {
  display: grid;
  grid-template-rows: $pc-navbar-height auto;
  height: 100%;
}

#main-mobile {
  grid-row: 2;
}
