<ng-container *ngIf="isDesktop(); else mobileView">
  <app-pc-slide-layout [leftInputDisabled]="false"
                       [leftInputLabel]="'character.name' | translate"
                       gridTemplateColumns="repeat(3, 1fr)">
    <div right-side-content class="section">
      <app-form-field [label]="'character.age' | translate"
                      name="age"
                      value=""
                      [desktop]="true">

      </app-form-field>

      <app-form-field [label]="'character.eyes' | translate"
                      name="eyes"
                      value=""
                      [desktop]="true">
      </app-form-field>
    </div>

    <div right-side-content class="section">
      <app-form-field [label]="'character.height' | translate"
                      name="height"
                      value=""
                      [desktop]="true">
      </app-form-field>

      <app-form-field [label]="'character.skin' | translate"
                      name="skin"
                      value=""
                      [desktop]="true">
      </app-form-field>
    </div>

    <div right-side-content class="section">
      <app-form-field [label]="'character.weight' | translate"
                      name="weight"
                      value=""
                      [desktop]="true">
      </app-form-field>

      <app-form-field [label]="'character.hair' | translate"
                      name="hair"
                      value=""
                      [desktop]="true">
      </app-form-field>
    </div>

    <div main-content>
      <p>pc lore works! (Content)</p>
    </div>
  </app-pc-slide-layout>

</ng-container>

<ng-template #mobileView>
  <section class="mobile slide-mobile">
    <main>
      <p>mobile lore works!</p>
    </main>
  </section>
</ng-template>

