.input-group {
  display: flex;
  flex-direction: column-reverse;
  width: auto;
}

input {
  border: 0px;
  border-bottom: 1px solid black;

  &:disabled {
    background-color: transparent;
  }
}

.fs-24 {
  font-size: 24px;
}

.fs-10 {
  font-size: 10px;
}

label {
  text-transform: uppercase;
  display: flex;
  margin: 0px;
}

.level-input {
  max-width: 40px !important;
  text-align: center !important;
}
